<ns-scroller [title]="'Messages'">

    <Label textWrap="true" text="What is High Blood Pressure (Hypertension?)" class="h2 p-b-20  reg-font "></Label>

    <Label textWrap="true" class="p-10 reg-font  font-grey  " text="Background"></Label>
    <Label textWrap="true" class="p-5 reg-font "
        text="Known as the “silent killer,” hypertension (HTN) affects one in three Americans who experience no signs or symptoms (CDC, 2015)."></Label>
    <Label textWrap="true" class="p-5 reg-font "
        text="Alabama has the second highest rate of cardiovascular disease (CVD), which is often caused by uncontrolled or undiagnosed HTN, in the United States."></Label>
    <Label textWrap="true" class="p-5 reg-font "
        text="University Medical Center has designed this educational guide in efforts to help you and your family manage your high blood pressure."></Label>
    <Label textWrap="true" class="p-5 p-b-30 reg-font "
        text="These materials have been based on information from The American Heart Association, The Center for Disease Control, and The Alabama Department of Public Health."></Label>



    <Label textWrap="true" class="p-10 reg-font   " text="What is blood pressure?"></Label>
    <Label textWrap="true" class="p-5 reg-font "
        text="When your heart pumps blood through the blood vessels, the blood pushes against the walls of your blood vessels. This creates blood pressure. Your body needs blood pressure to move the blood throughout your body, so every part of your body can get the oxygen it needs."></Label>
    <Label textWrap="true" class="p-5 reg-font "
        text="Healthy arteries (the blood vessels that carry oxygen-rich blood from the heart to the rest of the body) are elastic. They can stretch to allow more blood to push through them. How much they stretch depends on how hard the blood pushes against the artery walls."></Label>


    <Label textWrap="true" class="h2 p-b-20 p-t-20  reg-font" text="How blood pressure is measured"></Label>
    <Label textWrap="true" class="p-5 reg-font "
        text="How can you tell what your blood pressure is? By using a device called a blood pressure monitor, your health care provider can measure your blood pressure to see if it’s in a healthy range."></Label>
    <Label textWrap="true" class="p-5 reg-font "
        text="Your blood pressure is recorded as two numbers. The systolic blood pressure (the “upper” number) tells how much pressure is against your artery walls while the heart is pumping blood."></Label>
    <Label textWrap="true" class="p-5 p-b-30 reg-font "
        text="The diastolic blood pressure (the “lower” number) tells how much blood is against your artery walls while the heart is resting between beats. Blood pressure is measured in units of millimeters of mercury, or mm Hg. For example, a blood pressure reading might be 120/80 mm Hg."></Label>
    <Image height="100" width="100" class="center p-b-30" src="{{'~/images/bpexample.png'}}"></Image>

    <Label textWrap="true" class="h2 p-b-20 p-t-20   reg-font" text="Causes of high blood pressure"></Label>
    <Label textWrap="true" class="p-5 reg-font"
        text="High blood pressure cannot be cured. It can, however, be managed very effectively through lifestyle changes and, when needed, medication. In most cases, the cause of high blood pressure is not known. In fact, high blood pressure usually doesn’t have symptoms."></Label>
    <Label textWrap="true" class="p-5 reg-font"
        text="However, there are known risk factors for high blood pressure. These are conditions that are known to increase the risk for getting high blood pressure. Risk factors fall into two categories: those you can control, and those that are out of your control."></Label>

    <Label textWrap="true" class="h2 p-b-20 p-t-20  reg-font"
        text="Risk factors that are outside of your control"></Label>
    <Label textWrap="true" class="p-5 reg-font"
        text="Family History: Just as hair and eye color can run in families, so can high blood pressure. If your parents or other close blood relatives have high blood pressure, there’s an increased chance that you’ll have it, too. This is why it’s important to get your blood pressure checked on a regular basis. The American Heart Association recommends checking at your regular health care visit or every two years for people whose blood pressure is in a normal range."></Label>
    <Label textWrap="true" class="p-5 reg-font"
        text="Age: The older you are, the more likely you are to get high blood pressure. As we age, our blood vessels gradually lose some of their elastic quality, which increases blood pressure."></Label>
    <Label textWrap="true" class="p-5 reg-font"
        text="Gender: Until age 54, men are more likely to get high blood pressure than women are. But that changes as we age. From age 55 to 64, men and women get high blood pressure at similar rates. And at 65 and older, women are more likely to get high blood pressure than men are."></Label>
    <Label textWrap="true" class="p-5 reg-font"
        text="Race: African Americans tend to develop high blood pressure more often than Caucasians. For African Americans, high blood pressure also tends to occur at younger ages and to be more severe."></Label>

    <!--
                <Label textWrap="true" class="p-10 reg-font font-grey "
            text="Risk factors that are outside of your control"></Label>
        <Label textWrap="true" class="p-5 reg-font"
            text=""></Label>
        -->

    <Label textWrap="true" class="h2 p-b-20 p-t-20  reg-font" text="Controlling Risk Factors"></Label>
    <Label textWrap="true" class="p-5 reg-font"
        text="Lack of physical activity: Not getting enough physical activity increases your risk of getting high blood pressure. Physical activity is great for your heart and circulatory system in general, and blood pressure is no exception."></Label>
    <Label textWrap="true" class="p-5 reg-font"
        text="Unhealthy/high sodium diet: Good nutrition from a variety of sources is critical for your health. A diet that is too high in salt consumption, as well as calories, saturated fat, and sugar, carries an additional risk of high blood pressure. "></Label>
    <Label textWrap="true" class="p-5 reg-font"
        text="Overweight and obesity: Carrying too much weight puts an extra strain on your heart and circulatory system, and can cause serious health problems. Being overweight increases your risk of cardiovascular disease and diabetes. It also increases your risk of getting high blood pressure."></Label>
    <Label textWrap="true" class="p-5 reg-font"
        text="Drinking too much alcohol: Regular, heavy use of alcohol can cause many health problems, including heart failure, stroke, and irregular heartbeats. Drinking too much alcohol can increase your risk of cancer, obesity, alcoholism, suicide, and other accidents. It can also cause your blood pressure to increase dramatically."></Label>
    <Label textWrap="true" class="p-5 reg-font"
        text="Smoking and tobacco use: Using tobacco can cause your blood pressure to temporarily increase and can contribute to damaged arteries, which can make high blood pressure worse."></Label>
    <Label textWrap="true" class="p-5 reg-font"
        text="Stress: Stress is not necessarily a bad, but too much stress may contribute to increased blood pressure. Too much stress can also encourage behaviors that increase blood pressure, such as poor diet, physical inactivity, using tobacco, or drinking alcohol more than usual."></Label>

    <Label textWrap="true" class="h2 p-b-20 p-t-20  reg-font" text="Effects of high blood pressure"></Label>
    <Label textWrap="true" class="p-5 reg-font"
        text="High blood pressure can cause the heart to enlarge because it has to work harder to supply the body with the blood it needs. It also can contribute to a condition called atherosclerosis, in which the walls of the arteries become stiff and brittle as fatty deposits build up inside them."></Label>
    <Label textWrap="true" class="p-5 reg-font"
        text="The picture below shows how high blood pressure can hurt your body."></Label>

    <Image height="175" width="175" class="center p-b-30" src="{{'~/images/bppic.png'}}"></Image>

</ns-scroller>
